main-input:focus-highlight-span {
    -webkit-animation: input-focus 0.3s ease;
    animation: input-focus 0.3s ease;
}

@keyframes input-focus {
    from {
        background: #42ff1c;
    }
    to {
        width: 185px;
    }
}

submit {
    margin-top: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
}